---
import { marked } from 'marked';

interface Props {
  author: {
    login: string;
    url: string;
  };
  createdAt: string;
  markdown: string;
}

const { author, createdAt, markdown } = Astro.props;
---

<style>
  .marked-down {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
</style>

<!-- The `marked` function converts the `markdown` string to HTML and the
`set:html` directive sets the inner HTML of the `div` element to the conversion
result so that the markdown is rendered as HTML inside the `div` element. -->

<div class='marked-down'>
  <div set:html={marked(markdown)} />
  <span
    ><a href={author.url}>{author.login}</a> | {
      new Date(createdAt).toISOString().split('T')[0].replace(/-/g, '.')
    }</span
  >
</div>
